

@media (max-width: 900px) {
    .navegador {
        display: none;
    }
    .bordeNegro {
        width: 6%;
    }
    .menu {
        display: block;
    }
    .menuResponsiveEnlace a {
        width: 0;
        overflow: hidden;
    }
    .menuResponsive {
        display: flex;
    }
    .bordesNegross {
        display: none;
    }
}

/*RESPONSIVE MENU NAV DESKTOP*/

@media (max-width:1300px) {

    .enlacesNavegador a {
        font-size: .9em;
    }
}

@media (max-width:1150px) {
    .navegador {
        width: 65%;
    }

    .enlacesNavegador a {
        font-size: .8em;
    }
}

@media (max-width:950px) {
    .navegador {
        width: 70%;
    }

    .enlacesNavegador a {
        font-size: .8em;
    }
}

/* MENU RESPONSIVE*/

@media (max-width:899px) {
    .menu {
        left: 2% !important;

    }

    .menuResponsive {
        left: 2% !important;
    }

    .bordeNegro {
        width: 8% ;
    }
}

@media (max-width:699px) {
    .menu {
        left: 2.3% !important;

    }

    .menuResponsive {
        left: 2.3% !important;
    }

    .bordeNegro {
        width: 10% ;
    }
}

@media (max-width:599px) {
    .menu {
        left: 2.8% !important;

    }

    .menuResponsive {
        left: 2.8% !important;
    }

    .bordeNegro {
        width: 12% ;
    }
}

@media (max-width:450px) {
    .menu {
        left: 4.5% !important;

    }

    .menuResponsive {
        left: 4.5% !important;
    }

    .bordeNegro {
        width: 12% ;
    }
}



/*CONTENIDO PRINCIPAL EN EL HEADER*/

@media (max-width:900px) {
    .principalPagina {
        display:flex;
    }
    .textoContenidoPrincipal {
        display: none;
    }

    .contenidoPrincipal {
        width: 100%;
    }
    
}